NewNoteModal {
  align: center middle;
}

#new-note-modal {
    width: 60;
    height: 15;
    padding: 1 2;
    border: round lightsteelblue;
    background: $surface;
    align: center middle;
}

#title {
    text-style: bold;
}
