NewTaskModal {
  align: center middle;
}

#new_task_modal {
    width: 60;
    height: 21;
    padding: 1 2 0 2;
    background: $surface;
    align: center middle;
}

#title {
    text-style: bold;
    margin-bottom: 1;
    border: blank;
}

#status_and_importance_row {
    width: 100%;
}

#status {
    align: left middle;
    width: 18;
    padding-left: 1;
}

#importance {
    align: left middle;
    width: 10;
    padding-left: 1;
    margin-left: 2;
    border-left: solid lightslategrey;
}

#deadline {
    margin-top: 1;
    padding-left: 1;
    padding-right: 1;
    border-left: solid lightslategrey;
}

#description {
    margin-top: 1;
    padding-left: 1;
    padding-right: 1;
}

#tags {
    margin-top: 1;
    padding-left: 1;
    padding-right: 1;
    text-style: italic;
    color: mediumslateblue;
    border-left: solid mediumslateblue;
}

#modal_buttons {
    width: 100%;
    margin-top: 2;
}

#cancel_button {
    dock: left;
}

#create_task_button {
    dock: right;
}
